/* Show it is fixed to the top */
body {
  min-height: 75rem;
}

.modal-dialog {
  margin: 15%;
}

#contact-button {
  font-family: inherit;
}

#linkedin {
  margin: 5px;
}

#cardImage {
  padding-top: 20px;
}

@media (min-width: 465px) {
  .modal-dialog {
    margin: 30px auto;
  }
  #cardImage {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
    float: left;
    padding-right: 1em;
    margin-bottom: -1.25em;
    padding-top: 0;
  }
  #contactCard {
    height: 205px;
  }
}