html,
body {
  height: 100%;
  background-color: #233435;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  min-height: 100%;
  /*padding-top: 0rem;*/
}

a,
a:focus,
a:hover {
  color: #fff;
}

#section-wrapper-projects {
  animation: fadeIn 1s;
  padding-top: 35px;
}

/*.card-deck .card-primary .header-bg {
  background-color: #006992;
  /*color: #006992;
}*/

/*#card-top {
  color: #006992;
}*/

/*.card-header {
  background-color: #006992;
}*/