html,
body {
  height: 100%;
  background-color: #233435;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  min-height: 100%;
  padding-top: 0rem;
}

#section-wrapper-resume {
  text-align: left;
  padding-top: 100px;
}