a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #233435;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  min-height: 100%;
  padding-top: 0rem;
}

#section-wrapper-resume {
  text-align: left;
  padding-top: 100px;
  font-family: "Gill Sans", sans-serif;
}

#experience {
  float: left;
  margin-left: 3vw;
  animation: fadeInLeft 1s;
}

#logos {
  display: none;
}

@media (min-width: 750px) {
  #experience {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  #logos {
    float: right;
    text-align: right;
    width: 350px;
    margin-right: 3vw;
    display: block;
    animation: fadeInRight 1s;
  }
}